$primary: #e95353;
$white: #fff;
$light: #f2f0eb;
$semi-light: #dddbd6;
$dark: #b3b3b3;

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    color: #222;
    padding: 30px;
    background: $light;
    padding-top: 116px;

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $primary;
        color: #fff;
        font-size: 28px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);

        .title {
            padding: 10px 30px;
        }

        input {
            display: block;
            width: 100%;
            padding: 20px 30px;
            background: $white;
            font-family: "Open Sans";
            color: $dark;
        }
    }

    article {
        margin-top: 30px;
        background: $white;
        border-radius: 2px;
        overflow: hidden;
        border-bottom: 2px solid $semi-light;

        img {
            width: 100%;
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            .meta {
                .location {
                    font-size: 14px;
                    font-weight: 600;
                    color: $primary;
                }

                .time {
                    color: $dark;
                    font-size: 12px;
                    margin-top: 2px;
                }
            }

            .buttons {
                font-size: 0;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $dark;
                    font-size: 14px;
                    margin-left: 15px;
                }
            }
        }
    }
}
