$primary: #e95353;
$white: #fff;
$light: #f2f0eb;
$semi-light: #dddbd6;
$dark: #b3b3b3;

::-webkit-input-placeholder {
    color: $semi-light;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    color: #222;
    padding: 30px;
    background: $light;
    padding-top: 116px;

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $primary;
        color: #fff;
        font-size: 28px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
        transition: box-shadow 0.1s linear;

        &.scroll {
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
        }

        .title {
            padding: 10px 30px;
        }

        .search {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 15px 30px;
            background: $white;
            color: $semi-light;

            .icon {
                font-size: 18px;
            }

            input {
                font-family: "Open Sans";
                color: $dark;
                font-size: 13px;
                font-weight: 600;
                width: 100%;
                padding-left: 12px;
            }
        }
    }

    article {
        margin-top: 20px;
        background: $white;
        border-radius: 2px;
        overflow: hidden;
        border-bottom: 2px solid $semi-light;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);

        img {
            width: 100%;
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            .meta {
                .location {
                    font-size: 14px;
                    font-weight: 600;
                    color: $primary;
                }

                .time {
                    color: $dark;
                    font-size: 12px;
                    margin-top: 2px;
                }
            }

            .buttons {
                font-size: 0;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $dark;
                    font-size: 14px;
                    margin-left: 20px;
                    font-weight: 600;

                    &.selected {
                        color: $primary;
                    }

                    .icon {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
